extends layout

block content
  .container
    h1 Example
    p.Add new example sentences to dictionary.
    br
    form(role='form', action="/new-example",method="post")
      .form-group
          input.form-control(type='text', name="english", placeholder='English')
      .form-group
          input.form-control(type='text', name="romaji", placeholder='Romaji')
      .form-group
          input.form-control(type='text', name="kanji", placeholder='Kanji')
      .form-group
          textarea.form-control(rows=4, name="additional", placeholder='Additional')
      button.btn.btn-default(type='submit') Submit
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
