extends layout

block content
  .container
    h1 WORDS
    p.Add new word to dictionary.
    br
    form(role='form', action="/new-word",method="post")
      .form-group
          input.form-control(type='text', name="english", placeholder='English')
      .form-group
          input.form-control(type='text', name="romaji", placeholder='Romaji')
      .form-group
          input.form-control(type='text', name="kana", placeholder='Kana')
      .form-group
          input.form-control(type='text', name="kanji", placeholder='Kanji')
      button.btn.btn-default(type='submit') Submit
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
